:root {
  --background: #ffffff;
  --foreground: #272727;
  --foreground-dark: #3a3a3a;
  --gold: #ff8562;
  --text-gradient-gold: linear-gradient(
    0.666turn,
    #b4a8a3 0%,
    #eccfad 48%,
    #b4a8a3 100%
  );
  --text-gradient-white: linear-gradient(
    0.666turn,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 48%,
    rgb(255, 255, 255) 100%
  );
}
